body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 20% 20% 20% 20% 20%; 
    border: 2px solid #ffa94d;
    border-radius: 5px;
    background-color: #ffd8a8;
    padding: 1em;
    color: #d9480f;
}

.output {
    justify-content: end;
    grid-column-start: 1;
    grid-column-end: 5;
    border: 2px solid #ffec99;
    border-radius: 5px;
    background-color: #fff9db;
    padding: 1em;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ffec99;
    border-radius: 5px;
    background-color:#7cc47f;
    padding: 1rem;
}

.footnote {
    grid-column: 1/5;
    background-color: #ffec99;
    padding: 0.1em;
}